*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
	background-color: #fdf5e6;
	clear: both;
	margin: auto;
	width: 90%;
}

img {
	display: block;
	margin: auto;
}

a {
	text-decoration: none;
}

/* Navigation Bar */

.navigation {
	margin: auto;
	text-align: center;
}

.navigation-link {
	background-color: none;
	border: 2px solid #ffb6c1;
	border-radius: 5px;
	color: #ffb6c1;
	display: inline-block;
	font-family: Montserrat, Verdana, sans-serif;
	font-size: 24px;
	margin: 3px 3px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.navigation-link:hover, .navigation-link:active {
	background-color: #ffe4e1;
	color: #fdf5e6;
}

/* Blog posts */

.post {
	border: 2px dashed #ffb6c1;
	border-radius: 5px;
	float: left;
	height: 100%;
	padding: 0px 20px 20px;
	width: 100%;
}

.row {
	margin-bottom: 20px;
	/*overflow: hidden;*/
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

[class^="col-"] {
	float: left;
	padding: 0 2%;
	position: relative;
	min-height: 1px;
}

.col-1of4 {
	width: 25%;
}

.col-2of4 {
	width: 50%;
}

.col-3of4 {
	width: 75%;
}

.col-4of4 {
	width: 100%;
}

.post-heading {
	color: #f08080;
	font-family: "Big John", Verdana, sans-serif;
	font-size: 36px;
	font-weight: bold;
}

.post-description {
	font-family: "Slim Joe", "Times New Roman", serif;
	font-size: 14px;
}

.sidebar-heading {
	color: #cd853f;
	font-family: "Big John", Verdana, sans-serif;
	font-size: 24px;
}

.sidebar-description {
/*change this title later after inserting links and possibly nav bar*/
}

.site-footer {
	background-color: mistyrose;
	border-radius: 5px;
	clear: both;
	color: oldlace;
	font-family: "Times New Roman", serif;
	font-size: 12px;
	height: 50px;
	position: relative;
	text-align: center;	
}

.img-responsive {
	max-width: 100%;
}