*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

img {
	display: block;
	margin: auto;
}

a {
	text-decoration: none;
}

/* Navigation Bar */

/*md-sidenav {
	position: fixed !important;
}

md-backdrop {
	position: fixed !important; 
}*/

.full-height {
	min-height: 100%;
}

.navigation {
	margin: auto;
	text-align: center;
}

.navigation-link {
	background-color: none;
	border: 2px solid #ffb6c1;
	border-radius: 5px;
	color: #ffb6c1;
	display: inline-block;
	font-size: 24px;
	margin: 3px 3px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.navigation-link:hover,
.navigation-link--active {
	background-color: #ffe4e1;
	color: #fdf5e6;
}


/* Blog posts */

.post {
	border: 2px dashed #ffb6c1;
	border-radius: 5px;
/*	float: left;*/
	height: 100%;
	padding: 0 20px 20px;
	width: 100%;
	max-width: 800px;
	margin: 0 auto 20px;
}

.post-heading {
	color: #f08080;
	font-size: 36px;
/*	font-weight: bold;*/
}

.post-description {
	font-size: 14px;
}

/* Sidebar Information*/

.sidebar-heading {
	color: #cd853f;
	font-size: 24px;
}

.sidebar-description {
/*change this title later after inserting links and possibly nav bar*/
}

/* Footer Information */

.site-footer {
	background-color: mistyrose;
	border-radius: 5px;
	clear: both;
	/*color: oldlace;*/
	font-size: 12px;
	/*height: 50px;*/
	padding: 20px;
	position: relative;
	text-align: center;	
}

.img-responsive {
	max-width: 100%;
}

.main-content {
	min-height: 100%;
}

md-sidenav.md-locked-open {
	height: 100%;
}
md-sidenav:not(.md-locked-open) {
	position: fixed;
}
