*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: #fdf5e6;
	clear: both;
	margin: 0 auto;
	width: 100%;
}

img {
	display: block;
	margin: auto;
}

a {
	text-decoration: none;
}

/* Navigation Bar */

md-sidenav {
	position: fixed !important;
}

md-backdrop {
	position: fixed !important; 
}

.navigation {
	margin: auto;
	text-align: center;
}

.navigation-link {
	background-color: none;
	border: 2px solid #ffb6c1;
	border-radius: 5px;
	color: #ffb6c1;
	display: inline-block;
	font-family: Montserrat, Verdana, sans-serif;
	font-size: 24px;
	margin: 3px 3px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

.navigation-link:hover,
.navigation-link--active {
	background-color: #ffe4e1;
	color: #fdf5e6;
}


/* Blog posts */

.post {
	border: 2px dashed #ffb6c1;
	border-radius: 5px;
/*	float: left;*/
	height: 100%;
/*	padding: 0px 20px 20px;*/
	width: 100%;
}

.post-heading {
	color: #f08080;
	font-family: Roboto, Verdana, sans-serif;
	font-size: 36px;
/*	font-weight: bold;*/
}

.post-description {
	font-family:Roboto, "Times New Roman", serif;
	font-size: 14px;
}

/* Sidebar Information*/

.sidebar-heading {
	color: #cd853f;
	font-family:Roboto, Verdana, sans-serif;
	font-size: 24px;
}

.sidebar-description {
/*change this title later after inserting links and possibly nav bar*/
}

/* Footer Information */

.site-footer {
	background-color: mistyrose;
	border-radius: 5px;
	clear: both;
	color: oldlace;
	font-family: "Times New Roman", serif;
	font-size: 12px;
	height: 50px;
	position: relative;
	text-align: center;	
}

.img-responsive {
	max-width: 100%;
}