.box {
	height: 100px;
	width: 100%;
}

.boxSmall {
	height: 20px;
	width: 40px;
	border: 1px solid white;
}

.red {
	background-color: red;
}

.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.purple {
	background-color: purple;
}
