<link rel="stylesheet" href="/css/test.css">
<link rel="stylesheet" href="/css/themes/amber-theme.css">
<link rel="stylesheet" href="/css/themes/blue-grey-theme.css">
<link rel="stylesheet" href="/css/themes/blue-theme.css">
<link rel="stylesheet" href="/css/themes/brown-theme.css">
<link rel="stylesheet" href="/css/themes/cyan-theme.css">
<link rel="stylesheet" href="/css/themes/deep-orange-theme.css">
<link rel="stylesheet" href="/css/themes/deep-purple-theme.css">
<link rel="stylesheet" href="/css/themes/default-theme.css">
<link rel="stylesheet" href="/css/themes/green-theme.css">
<link rel="stylesheet" href="/css/themes/grey-theme.css">
<link rel="stylesheet" href="/css/themes/indigo-theme.css">
<link rel="stylesheet" href="/css/themes/light-blue-dark-theme.css">
<link rel="stylesheet" href="/css/themes/light-green-theme.css">
<link rel="stylesheet" href="/css/themes/lime-theme.css">
<link rel="stylesheet" href="/css/themes/orange-theme.css">
<link rel="stylesheet" href="/css/themes/pink-theme.css">
<link rel="stylesheet" href="/css/themes/purple-theme.css">
<link rel="stylesheet" href="/css/themes/red-theme.css">
<link rel="stylesheet" href="/css/themes/teal-theme.css">
<link rel="stylesheet" href="/css/themes/yellow-theme.css">



<div layout="row" layout-align="end start">
	<div class="boxSmall red"></div>
	<div class="boxSmall red"></div>
</div>
<div layout="row" layout-phone="column" layout-padding>
	<div flex layout-order-sm="3">
		<div class="box red"></div>
	</div>
	<div flex layout-order-md="2">
		<div class="box orange"></div>
	</div>
	<div flex layout-order-lg="1">
		<div class="box yellow"></div>
	</div>
</div>
<div layout="row" layout-phone="column" layout-padding>
	<div flex>
		<div class="box green"></div>
	</div>
	<div flex>
		<div class="box blue"></div>
	</div>
</div>
<div layout="row" layout-phone="column" layout-padding>
	<div flex>
		<div class="box purple"></div>
	</div>
	<div flex flex-sm="60">
		<div class="box purple"></div>
	</div>
	<div flex>
		<div class="box purple"></div>
	</div>
</div>

<!-- Themes Practice -->

<div ng-app="blogApp" ng-controller="buttonCtrl" layout="column">
	<md-toolbar md-theme="red">
		
	</md-toolbar>
	<md-content md-theme="red"></md-content>
	<md-button>Hello</md-button>
</div>

<!-- Buttons Practice -->


<div ng-controller='buttonCtrl'>
	<section layout="row" layout-phone="column" layout-align="center center">
		<md-button class="md-raised md-primary" md-theme="red">Button 1</md-button>
		<md-button class="md-raised md-primary" md-theme="amber">Button 2</md-button>
		<md-button class="md-primary" md-theme="purple">Button 3</md-button>
	</section>
</div>

<!-- Toolbar with sidenav functionality -->


<div data-ng-controller="navs">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" is-locked-open="$media('md')">
		<md-toolbar md-theme="red">
			<div class="md-toolbar-tools">
				<h1>Sidenav</h1>
				<md-button ng-click="close()" layout-align="end start" hide-md>
					X
				</md-button>
			</div>
		</md-toolbar>
		<md-content class="md-padding">
			<p hide show-md>Sidenav Text when locked open</p>
			<p>Hello</p>
			<nav class="navigation" layout="column">
				<a data-ui-sref-active="{{siteNav.activeClass}}" data-ui-sref="{{link.state}}" class="{{siteNav.class}}" data-ng-repeat="link in siteNav.pages" flex>
						{{link.name}}
				</a>
			</nav>
		</md-content>
	</md-sidenav>
	<div role="main" layout="column">
		<md-toolbar md-theme="red">
			<div class="md-toolbar-tools">
				<md-button ng-click="toggleLeft()" class="md-raised md-primary" hide-md>X</md-button>
			</div>
		</md-toolbar>
		<md-content>
			<ul>
				<li>TEST</li>
				<li>TEST</li>
				<li>TEST</li>
				<li>TEST</li>
				<li>TEST</li>
				<li>TEST</li>
			</ul>
		</md-content>
	</div>
</div>

<!-- Progress bar testing -->




<div layout-padding style="padding:25px;">
	<h4>Indeterminate</h4>
	<p>For operations where the user is asked to wait a moment while something finishes up, and it’s not necessary to expose what's happening behind the scenes and how long it will take, use an indeterminate indicator.</p>
	<md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div>
	<h4>Indeterminate</h4>
	<p>For operations where the user is asked to wait a moment while something finishes up, and it’s not necessary to expose what's happening behind the scenes and how long it will take, use an indeterminate indicator.</p>
	<div layout="row" layout-sm="column" layout-align="space-around">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
